.container-confirm {
    background-color: rgb(193, 194, 194);
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15rem;
    border-radius: 20px;
}

.informations {
    padding-top: 2rem;
    font-size: 20px;
}

.container-informations {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 3rem;
}

.button-confirm {
    margin-top: 3rem;
    width: 120px;
    height: 30px;
    margin-left: 1rem;
    border-radius: 20px;
    border: none;
}
